* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  background-image: url("../image/canvas-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      font-weight: bolder;
    }
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    canvas {
      margin: 20px 0;
      //   border: 3px solid red;
      background-color: white;
      border: 5px solid brown;
    }

    .menu {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .button {
        width: 100px;
        height: 50px;
        background-color: white;
        border-radius: 10px;
        font-size: 2.25rem;
        text-align: center;
        margin: 0 10px;
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          background-color: gray;
          color: white;
        }
      }
    }
  }
}
